In [1]:
import pandas as pd

In [3]:
!wget https://storage.googleapis.com/bdt-beam/users_v.csv

--2023-09-19 20:27:11--  https://storage.googleapis.com/bdt-beam/users_v.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 173.194.215.207, 173.194.216.207, 173.194.217.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|173.194.215.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 143675 (140K) [text/csv]
Saving to: ‘users_v.csv’

users_v.csv         100%[===================>] 140.31K   708KB/s    in 0.2s

2023-09-19 20:27:11 (708 KB/s) - ‘users_v.csv’ saved [143675/143675]

In [8]:
!head -n 10 users_v.csv

user_id,name,gender,age,address,date_joined
1,Anthony Wolf,male,73,New Rachelburgh-VA-49583,2019/03/13
2,James Armstrong,male,56,North Jillianfort-UT-86454,2020/11/06
3,Cody Shaw,male,75,North Anne-SC-53799,2004/05/29
4,Sierra Hamilton,female,76,New Angelafurt-ME-46190,2005/08/26
5,Chase Davis,male,31,South Bethmouth-WI-18562,2018/04/30
6,Sierra Andrews,female,21,Ryanville-MI-69690,2007/05/25
7,Ann Stone,female,41,Smithmouth-SD-17340,2005/01/05
8,Karen Santos,female,34,Mariaville-AK-29888,2003/12/12
9,Ronald Meyer,male,41,North Cherylhaven-NJ-04197,2015/11/14

In [9]:
!wc -l users_v.csv

2358 users_v.csv

In [10]:
!head -n 1000 users_v.csv | shuf -n 1000 > users_sample.csv

In [11]:
!sort -t, -k2n users_sample.csv -o sorted_users.csv

In [13]:
!sort -t, -k2n users_sample.csv -o users_sample.csv

In [14]:
!tail -n 10 users_sample.csv

993,Elizabeth Perez,female,50,North Rebecca-MD-97897,2007/10/18
994,Kristi Perry,female,64,Elizabethmouth-NV-66181,2021/03/18
995,Lisa Jacobs,female,31,Port Charles-OK-64370,2011/10/25
996,Benjamin Adams,male,44,Port Hannahfort-WV-35030,2020/07/09
997,Matthew Cooke,male,31,New Aaronshire-FL-31342,2015/01/02
998,Ms. Candice Sims DVM,female,24,Marychester-CT-22544,2005/02/18
999,Kenneth Bryant,male,27,South Meganmouth-IL-80593,2000/04/10
99,Jessica Smith,female,80,South Jessicafort-WV-07577,2013/11/14
9,Ronald Meyer,male,41,North Cherylhaven-NJ-04197,2015/11/14
user_id,name,gender,age,address,date_joined

In [15]:
import pandas as pd

file_path = 'users_v.csv'

df = pd.read_csv(file_path)

In [16]:
print(df.head(10))

   user_id             name  gender  age                     address  \
0        1     Anthony Wolf    male   73    New Rachelburgh-VA-49583
1        2  James Armstrong    male   56  North Jillianfort-UT-86454
2        3        Cody Shaw    male   75         North Anne-SC-53799
3        4  Sierra Hamilton  female   76     New Angelafurt-ME-46190
4        5      Chase Davis    male   31    South Bethmouth-WI-18562
5        6   Sierra Andrews  female   21          Ryanville-MI-69690
6        7        Ann Stone  female   41         Smithmouth-SD-17340
7        8     Karen Santos  female   34         Mariaville-AK-29888
8        9     Ronald Meyer    male   41  North Cherylhaven-NJ-04197
9       10    Steven Rivera    male   43          Wayneside-VT-29040

  date_joined
0  2019/03/13
1  2020/11/06
2  2004/05/29
3  2005/08/26
4  2018/04/30
5  2007/05/25
6  2005/01/05
7  2003/12/12
8  2015/11/14
9  2003/05/15

In [17]:
oldest_age = df['age'].max()

youngest_age = df['age'].min()

print("Oldest Age:", oldest_age)
print("Youngest Age:", youngest_age)

Oldest Age: 80
Youngest Age: 18

In [18]:
age_stats = df['age'].describe()[['count', 'mean', 'std']]
print(age_stats)

count    2357.000000
mean       49.054731
std        18.206348
Name: age, dtype: float64

In [19]:
extract_surname = lambda x: x.split()[-1]

df['surname'] = df['name'].apply(extract_surname)

In [21]:
print(df.tail(10))

      user_id                 name  gender  age                    address  \
2347     2348     Victoria Edwards  female   68    Lake Jamesberg-NY-88824
2348     2349          Chris Ellis    male   46  Port Richardside-NY-77994
2349     2350       Kimberly Smith  female   19      East Anthony-GA-00646
2350     2351       William Nelson    male   67   Lake Parkerside-MN-06905
2351     2352          Nancy Clark  female   80        Jamesshire-AK-88437
2352     2353      Brittney Graham  female   40         Brownland-CO-71229
2353     2354      Allison Schmidt  female   43        Port Logan-MD-38588
2354     2355  Christopher Johnson    male   68   North Justinton-VA-32798
2355     2356           Mark Brown    male   67    New Kayleefurt-MA-82581
2356     2357      Steven Robinson    male   45         Mistytown-HI-31737

     date_joined   surname
2347  2001/09/03   Edwards
2348  2011/03/18     Ellis
2349  2021/06/20     Smith
2350  2005/12/21    Nelson
2351  2001/12/12     Clark
2352  2005/07/10    Graham
2353  2008/11/30   Schmidt
2354  2006/08/01   Johnson
2355  2013/11/16     Brown
2356  2015/03/21  Robinson

In [22]:
df['date_joined'] = pd.to_datetime(df['date_joined'])